<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron">
        <h1>Welcome back <%=userId %></h1>
        <a class="btn btn-danger" href="/logout">Logout</a>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
